# Byte-compiled / optimized / cache files
__pycache__/
*.py[cod]
*$py.class
*.tmp

# Virtual Environments & Secrets
.venv/
venv/
env/
ENV/
.env
*.env

# Data Files (Stored in Bronze storage, not Git)
bronze_crime_news.json
*.jsonl


# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db